@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

a:hover {
	color: orange;
}

.has-text-align-left {
	@apply text-left;
}

.has-text-align-center {
	@apply text-center;
}

.has-text-align-right {
	@apply text-right;
}

.has-large-font-size {
	@apply text-4xl;
}

.alignfull {
	@apply w-screen relative;

	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	right: 50%;
}

.wp-block-image img {
	@apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
	@apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
	@apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
	@apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
	@apply table-caption;

	caption-side: bottom;
}

.wp-block-image .alignleft {
	@apply float-left mr-4;
}
.wp-block-image .alignright {
	@apply float-right ml-4;
}
.wp-block-image .aligncenter {
	@apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
	@apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
	@apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
	@apply mr-4;
}

.wp-block-cover {
	@apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

	min-height: 430px;
}

.wp-block-verse {
	@apply font-sans;
}

.wp-block-media-text {
	@apply grid grid-cols-2 gap-4;
}

img.hero {
	aspect-ratio: 55 / 19;
	width: 100%;
	height: auto;
}

.container-musicPlayer {
	aspect-ratio: 10 / 13;
	max-width: 500px;
	padding-top: 56.25%;
	position: relative;
	width: 100%;
	min-height: 480px;
}

.musicPlayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.poster-calendar {
	border: 1px solid transparent;
	margin-left: 40px;
	width: auto;
	max-height: 200px;
}

a:hover .poster-calendar {
	border-color: orange;
}

.social a:hover svg {
	fill: orange;
}

.social a:hover svg {
	fill: orange;
}

.icon-social {
	width: 1.4em;
}

/* Brevo Styles */
@font-face {
	font-display: block;
	font-family: Roboto;
	src:
		url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2)
			format('woff2'),
		url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff)
			format('woff');
}

@font-face {
	font-display: fallback;
	font-family: Roboto;
	font-weight: 600;
	src:
		url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2)
			format('woff2'),
		url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff)
			format('woff');
}

@font-face {
	font-display: fallback;
	font-family: Roboto;
	font-weight: 700;
	src:
		url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2)
			format('woff2'),
		url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff)
			format('woff');
}

#sib-container input:-ms-input-placeholder {
	text-align: left;
	font-family: 'Helvetica', sans-serif;
	color: #c0ccda;
}

#sib-container input::placeholder {
	text-align: left;
	font-family: 'Helvetica', sans-serif;
	color: #c0ccda;
}

#sib-container textarea::placeholder {
	text-align: left;
	font-family: 'Helvetica', sans-serif;
	color: #c0ccda;
}

#sib-container a {
	text-decoration: underline;
	color: #2bb2fc;
}

/* MORE */
div.sib-form {
	text-align: center;
	background-color: #eff2f7;
}

div.sib-form-message-panel {
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, sans-serif;
	border-radius: 3px;
	max-width: 540px;
}

div.sib-form-message-panel.failure {
	color: #661d1d;
	background-color: #ffeded;
	border-color: #ff4949;
}

div.sib-form-message-panel.success {
	color: #085229;
	background-color: #e7faf0;
	border-color: #13ce66;
}

div.sib-container--large.sib-container--vertical {
	text-align: center;
	background-color: rgba(255, 255, 255, 1);
	max-width: 540px;
	border-radius: 3px;
	border-width: 1px;
	border-color: #c0ccd9;
	border-style: solid;
	direction: ltr;
}

div.sib-container--large.sib-container--vertical > form > div {
	padding: 8px 0;
}

.sib-form-title {
	font-size: 32px;
	text-align: left;
	font-weight: 700;
	font-family: Helvetica, sans-serif;
	color: #3c4858;
	background-color: transparent;
	text-align: left;
}

.sib-form-subtitle {
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, sans-serif;
	color: #3c4858;
	background-color: transparent;
	text-align: left;
}

.sib-form-divider {
	border: 0;
	border-bottom: 1px solid #e5edf6;
}

.entry__label {
	font-weight: 700;
	text-align: left;
	font-size: 16px;
	text-align: left;
	font-weight: 700;
	font-family: Helvetica, sans-serif;
	color: #3c4858;
}

.entry__error.entry__error--primary,
.entry__error.entry__error--secondary {
	font-size: 16px;
	text-align: left;
	font-family: Helvetica, sans-serif;
	color: #661d1d;
	background-color: #ffeded;
	border-radius: 3px;
	border-color: #ff4949;
}

.entry__specification {
	font-size: 12px;
	text-align: left;
	font-family: Helvetica, sans-serif;
	color: #8390a4;
	text-align: left;
}

.sib-sms-input-wrapper,
.sib-form__declaration,
.g-recaptcha {
	direction: ltr;
}

.entry__field.sib-input-full {
	width: 100%;
}

.sib-privacy-text,
.sib-privacy-policy {
	font-size: 14px;
	text-align: left;
	font-family: Helvetica, sans-serif;
	color: #3c4858;
	background-color: transparent;
}

.sib-privacy-policy {
	color: #687484;
}

.svgIcon-sphere {
	width: 63px;
	height: 63px;
}

.sib-form-block.sib-form-submit {
	text-align: left;
}

.sib-form-block__button {
	font-size: 16px;
	text-align: left;
	font-weight: 700;
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	background-color: #3e4857;
	border-radius: 3px;
	border-width: 0px;
}
